body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

.row {
	display:flex;
	flex:flex-wrap;
	justify-content: space-between;
}

.left{
  flex: 75%;
  order: 1;
  padding: 15px;
}

.right{
  flex: 25%;
  order: 2;
  padding: 20px;
}

.lef{
  display:flex;
	flex:flex-wrap;
	justify-content: space-between;
}

.l1{
  flex: 75%;
  order: 1;
}

.l2{
  flex: 25%;
  order: 2;
  padding-top:15px ;
}

#b1,#b2{
  background-color: rgba(255, 255, 255, 0.315);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: green;
}
#b1:hover,#b2:hover{
  background-color: rgba(40, 185, 40, 0.486);
  color: rgb(255, 255, 255);
}

.intro{
  color: black;
  background-color: rgba(153, 245, 68, 0.541);
}

span{
  color: green;
}
span:hover{
  color:red;
}
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(182, 253, 89, 0.514);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(41, 206, 19);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(41, 206, 19)3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

.topnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.topnav a {
  float: left;
  color:rgba(0, 0, 0, 0.781);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: green;
  font-weight: bold;
}

.bt1{
  background:  rgb(125, 240, 17);
  color: black;
  border-radius: 10px;
  border-color: green;
}

.bt1:hover{
  background: green;
  color: white;
  border-color: honeydew;
}

.lf1{
  background: white;
  padding-top: 10px;
  padding-left: 10px;
  height: 40px;
}

.drg{
  width: 250px;
  padding: 10px;
  border: 5px solid rgba(34, 182, 14, 0.849);
  border-radius: 10px;
  margin: 0;
}

#div1{
  overflow-y: scroll;
  height: 500px;
}

.ls{
  overflow-y: scroll;
  height: 400px;
}

.btm{
  position: absolute;
  bottom: 50px;
  padding-left: 50px;
}

.bt2{
  background:  rgb(125, 240, 17);
  color: black;
  border-radius: 10px;
  border-color: green;
}

.bt2:hover{
  background: green;
  color: white;
  border-color: honeydew;
}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}